@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;600;700&display=swap");
@import url("https://unpkg.com/firacode@1.205.0/distr/fira_code.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  overflow: hidden;
}
.CodeMirror * {
  font-family: "Fira Code", monospace;
  font-size: 20px;
}

.playground {
  height: 100%;
  background-color: #1e1e25;
}

.code-editor {
  height: 33%;
  overflow: hidden;
  position: relative;
}

.editor-header {
  height: 30px;
  content: attr(title);
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-size: 18px;
  color: #fafafa;
}

.react-codemirror2 {
  max-height: calc(100% - 30px);
  overflow: auto;
}

.result {
  /* position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 600px; */
  /* overflow: hidden; */
}

.videoContainer {
  height: 180px;
  width: 180px;
}

video {
  height: 180px !important;
  width: 180px;
  object-fit: cover;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

/* resizable panels */

.panel-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.panel {
  background: white;
  border: 1px solid gray;
}
.panel:first-child {
}

.resizer {
  width: 100%;
  height: 8px;
  background: darkGray;
  position: relative;
  cursor: row-resize;
  flex-shrink: 0;
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Likely future */
}

.resizer::after,
.resizer::before {
  content: "";
  border-left: 1px solid #333;
  position: absolute;
  top: 50%;
  transform: translateY(-100%);
  right: 0;
  display: inline-block;
  height: 20px;
  margin: 0 2px;
}
.resizer::before {
  left: 0;
}

/* override classes */
.CodeMirror {
  height: 100% !important;
}

.video-off {
  position: relative;
  height: 180px;
  width: 180px;
  background-color: #333;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}
.video-off video {
  z-index: -1;
}

.video-off:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  opacity: 1;
  border-radius: 0.35rem;
}

.video-off:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 70%;
  background-image: url("https://source.boringavatars.com/beam/?colors=16cff7,EE9B00,0a6ab4,c8d8d7,e76f51");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #333;
  opacity: 0.7;
  border-radius: 0.35rem;
}

.custom-shadow {
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.7);
}

.custom-shadow-medium {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}

.custom-shadow-light {
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.6);
}

.video-grid-height {
  height: calc(100vh - 150px);
}
